<div id="error">
  <h1>403 Forbidden</h1>
  <p>
    <%=
      case @exception
        when ApplicationController::InAddressRejected
          "あなたのIPアドレス (#{request.ip}) からは利用出来ません。"
        else
          "指定されたページを閲覧する権限がありません。"
      end
    %>
  </p>
</div>